:root {
  --jet: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx-1: hsl(0, 0%, 24%);
  --onyx-2: hsl(0, 0%, 25%);
  --gray-web: hsl(0, 0%, 48%);
  --light-gray: hsl(0, 0%, 80%);
  --davys-gray: hsl(0, 0%, 33%);
  --field-drab: hsl(47, 98%, 22%);
  --red-crayola: hsl(356, 73%, 58%);
  --golden-puppy: hsl(47, 100%, 49%);
  --quick-silver: hsl(0, 0%, 63%);
  --sonic-silver: hsl(0, 0%, 44%);
  --eerie-black-1: hsl(0, 0%, 15%);
  --eerie-black-2: hsl(0, 0%, 7%);
  --rich-black-fogra-39: hsl(0, 0%, 2%);
  --ff-roboto: "Roboto", sans-serif;

  --fs-1: 32px;
  --fs-2: 20px;
  --fs-3: 19px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;
  --fs-8: 13px;
  --fs-9: 12px;
  --fs-10: 11px;

  --fw-500: 500;
  --fw-700: 700;
  --transition: 0.15s ease-in-out;

}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

button {
  color: inherit;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

button,
img,
input,
a,
span,
ion-icon { display: block; }

input {
  font: inherit;
  border: none;
}

html {
  font-family: var(--ff-roboto);
  color: var(--quick-silver);
  line-height: 1.3;
  scroll-behavior: smooth;
}

body {
  background: var(--rich-black-fogra-39);
  min-width: 280px;
}

button, a, input, [tabindex] { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track {
  background: var(--rich-black-fogra-39);
  border-left: 1px solid var(--onyx-1);
}

::-webkit-scrollbar-thumb { background: var(--golden-puppy); }

::-webkit-scrollbar-thumb:hover { --golden-puppy: hsl(47, 100%, 40%); }

::-webkit-scrollbar-button { height: 5px; }





/*-----------------------------------*\
 * #REUSED STYLE 
\*-----------------------------------*/

.container { padding: 0 12px; }

.h1,
.h2,
.h3 { color: var(--white); }

.h1 {
  font-size: var(--fs-1);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-3); }

.h3 { font-size: var(--fs-2); }

.h4 {
  color: inherit;
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
}

.h5 {
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.btn {
  color: var(--white);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  min-width: 130px;
  padding: 10px 15px;
  border: 1px solid var(--golden-puppy);
  border-radius: 4px;
}

.btn-primary {
  background: var(--golden-puppy);
  color: var(--black);
}

.btn-primary:is(:hover, :focus) { --golden-puppy: hsl(47, 100%, 45%); }

.btn-secondary:is(:hover, :focus) { background: hsla(47, 100%, 45%, 0.1); }





/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

header {
  padding: 20px 0;
  border-bottom: 1px solid var(--onyx-1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block; /* Ensures the anchor is treated as a block element */
  text-align: center; /* Center-align the logo within its container */
}

.logo img {
  width: 100%; /* Make sure the image takes up 100% of the container width */
  max-width: 100px; /* Set a maximum width for the logo */
  height: 100%; /* Maintain the aspect ratio of the image */
  display: block; /* Ensure the image doesn't have extra space underneath */
  margin: 0 auto; /* Center-align the image within the anchor */

}


.header-nav-wrapper { position: relative; }

.navbar {
  background: var(--onyx-1);
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  padding-left: 10%;
  width: 250px;
  padding: 25px;
  border-radius: 8px;
  transform: scale(0.8);
  transform-origin: top right;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

.navbar.active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.navbar-link {
  background: transparent;
  color: var(--white);
  font-size: var(--fs-7);
  padding: 8px 10px;
  border-radius: 4px;
}

.navbar-link:is(:hover, :focus) { background: var(--davys-gray); }

.navbar-toggle-btn {
  color: var(--white);
  font-size: 30px;
  padding: 5px;
}

.header-actions { display: none; }


.hero { padding: 60px 0; }

.hero-content {
  text-align: center;
  margin-bottom: 50px;
}

.hero-title { margin-bottom: 15px; }

.hero-title > span {
  display: inline-block;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--golden-puppy);
  -webkit-text-fill-color: transparent;
}

.hero-text {
  color: var(--white);
  font-size: var(--fs-7);
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-banner {
  border: 20px solid var(--eerie-black-1);
  border-radius: 50%;
  overflow: hidden;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*----------Collections-------------*/
.new-product {
  background: var(--eerie-black-2);
  padding: 60px 0;
}

.section-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
.section-header-wrapper .btn {
  display: inline-block;
  margin-right: 10px;
}

.section-header-wrapper a.btn-primary:last-child {
  margin-right: 10px; /* Adjust the margin as needed */
}

.product-list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.product-card {
  background: var(--eerie-black-1);
  padding: 18px;
  border: 1px solid var(--onyx-2);
  border-radius: 8px;
}

.product-banner {
  position: relative;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}

.product-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-actions {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding-left: 80%; 
}

.product-card-menu,
.add-to-whishlist {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%
}

.product-card-menu {
  background: var(--golden-puppy);
  color: var(--black);
}

.add-to-whishlist {
  background: var(--eerie-black-1);
  color: var(--white);
}

.add-to-whishlist.active { color: var(--red-crayola); }

.add-to-whishlist:is(:hover, :focus) { --white: hsl(0, 0%, 80%); }

.place-bid-btn {
  background: var(--golden-puppy);
  color: var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: var(--fs-7);
  text-transform: capitalize;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0;
  transition: var(--transition);
}

.product-card:is(:hover, :focus) .place-bid-btn,
.place-bid-btn:focus {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.product-title { margin-bottom: 15px; }

.product-card:is(:hover, :focus) .product-title { color: var(--red-crayola); }

.product-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.product-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.author-img {
  background: var(--black);
  border-radius: 50%;
  overflow: hidden;
}

.author-username,
.product-price .label {
  color: inherit;
  font-size: var(--fs-8);
}

.author-username:is(:hover, :focus) { color: var(--golden-puppy); }

.product-price data {
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-8);
}

.tag {
  background: var(--golden-puppy);
  color: var(--black);
  padding: 4px 10px;
  border-radius: 4px;
}


.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 25px;
}

.list .card {
  background: var(--eerie-black-1);
  padding: 18px;
  border: 1px solid var(--onyx-2);
  border-radius: 8px;
}

.list .banner {
  position: relative;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}

.list .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list .actions {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80%;
}

.list .card-menu,
.list .add-to-wishlist {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.list .card-menu {
  background: var(--golden-puppy);
  color: var(--black);
}

.list .add-to-wishlist {
  background: var(--eerie-black-1);
  color: var(--white);
}

.list .add-to-wishlist.active { color: var(--red-crayola); }

.list .add-to-wishlist:is(:hover, :focus) { --white: hsl(0, 0%, 80%); }

.list .place-bid-btn {
  background: var(--golden-puppy);
  color: var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: var(--fs-7);
  text-transform: capitalize;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0;
  transition: var(--transition);
}

.list .card:is(:hover, :focus) .place-bid-btn,
.list .place-bid-btn:focus {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.list .title { margin-bottom: 15px; }

.list .card:is(:hover, :focus) .title { color: var(--red-crayola); }

.list .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.list .author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.list .author-img {
  background: var(--black);
  border-radius: 50%;
  overflow: hidden;
}

.list .author-username,
.list .price .label {
  color: inherit;
  font-size: var(--fs-8);
}

.list .author-username:is(:hover, :focus) { color: var(--golden-puppy); }

.list .price data {
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
}

.list .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-8);
}

.list .tag {
  background: var(--golden-puppy);
  color: var(--black);
  padding: 4px 10px;
  border-radius: 4px;
}

/*--------About-----------*/

.about { padding: 60px 0; }

.about-title {
  text-align: center;
  margin-bottom: 40px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin: 0 10px;
}

.about-item {
  background: var(--eerie-black-2);
  padding: 20px;
  border-radius: 8px;
}

.about-card {
  position: relative;
  padding: 30px 10px 20px;
  border: 1px solid var(--onyx-1);
  border-radius: 4px;
  text-align: center;
}

.about-card::before,
.about-card::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  background: var(--sonic-silver);
  border-radius: 10px;
  transition: var(--transition);
}

.about-card::before {
  width: 3px;
  height: 100px;
}

.about-card::after {
  width: 100px;
  height: 3px;
}

.about-item:hover .about-card::before,
.about-item:hover .about-card::after { background: var(--golden-puppy); }

.about-card .card-number {
  position: absolute;
  background: var(--eerie-black-1);
  color: var(--onyx-2);
  top: -15px;
  left: -15px;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: var(--fw-700);
  border-top-left-radius: 18px;
  border: 14px solid var(--eerie-black-2);
}

.card-icon {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.about-card-title {
  margin-bottom: 20px;
  transition: var(--transition);
}

.about-item:hover .about-card-title { color: var(--golden-puppy); }

.about-card-text {
  font-size: var(--fs-7);
  line-height: 1.5;
}
/*--------Explore------*/

.explore-product {
  background: var(--eerie-black-2);
  padding: 60px 0;
}
/*----------Footer-----------------*/

.footer-top {
  background: var(--eerie-black-2);
  padding: 60px 0;
}

.footer-top .logo { margin-bottom: 25px; }

.footer-brand { margin-bottom: 40px; }

.footer-brand-text { display: none; }

.social-title {
  color: var(--white);
  font-size: var(--fs-4);
  margin-bottom: 25px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social-link {
  background: var(--eerie-black-1);
  color: var(--quick-silver);
  padding: 9px;
  font-size: 20px;
  border-radius: 50%;
  transition: var(--transition);
}

.social-link:hover { color: var(--golden-puppy); }

.footer-link-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.footer-item-title {
  font-weight: var(--fw-500);
  margin-bottom: 10px;
}

.footer-item {
  position: relative;
  transition: var(--transition);
}

.footer-item::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: 8px;
  height: 8px;
  background: var(--quick-silver);
  border-radius: 50%;
  border: 2px solid var(--sonic-silver);
  transition: var(--transition);
}

.footer-item:hover::before {
  background: var(--golden-puppy);
  border-color: var(--field-drab);
}

.footer-link {
  color: var(--quick-silver);
  font-size: var(--fs-7);
  margin-bottom: 8px;
  padding-left: 15px;
  transition: var(--transition);
}

.footer-item:hover .footer-link { color: var(--golden-puppy); }

.footer-item:hover::before,
.footer-item:hover .footer-link { transform: translateX(10px); }

.footer-bottom {
  background: var(--eerie-black-1);
  padding: 25px 0;
  color: var(--quick-silver);
}

.copyright {
  font-size: var(--fs-7);
  padding: 0 20px;
  text-align: center;
  margin-bottom: 15px;
}

.copyright > a {
  display: inline-block;
  color: var(--white);
}

.copyright > a:hover { color: var(--golden-puppy); }

.footer-bottom-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
}

.footer-bottom-links a {
  color: var(--quick-silver);
  font-size: var(--fs-7);
  transition: var(--transition);
}

.footer-bottom-links a:hover { color: var(--golden-puppy); }





/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  background: var(--eerie-black-1);
  color: var(--golden-puppy);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 24px;
  border-radius: 50%;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.go-top.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.go-top:hover { --eerie-black-1: hsl(0, 0%, 20%); }





/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 450px screen
 */

@media (min-width: 450px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 400px;
    margin: auto;
  }



  /**
   * FOOTER
   */

  .footer-link-box { grid-template-columns: 1fr 1fr; }

}





/**
 * responsive for larger than 650px screen
 */

@media (min-width: 650px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 600px; }



  /**
   * HERO
   */

  .hero .container { max-width: 450px; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
   */

  .product-list,
  .about-list,
  .top-seller-list { grid-template-columns: 1fr 1fr; }



  /**
   * FOOTER
   */

  .footer-brand { text-align: center; }

  .footer-top .logo {
    width: max-content;
    margin-inline: auto;
  }

  .footer-brand-text {
    display: block;
    font-size: var(--fs-7);
    max-width: 400px;
    margin: auto;
    margin-bottom: 25px;
  }

  .social-list { justify-content: center; }

  .footer-link-box { grid-template-columns: repeat(3, 1fr); }

  .footer-item-title {
    --fs-2: 22px;
    margin-bottom: 30px;
  }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright { margin-bottom: 0; }

}

.add-to-wishlist {
  order: 2; /* Move the heart icon to the right */
}



/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 38px;
    --fs-3: 35px;
    --fs-7: 15px;
    --fs-9: 14px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 700px; }

  .btn { padding: 14px 20px; }



  /**
   * HERO
   */

  .hero { padding: 100px 0; }

  .hero .container {
    min-height: 70vh;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 25px;
  }

  .hero-content {
    text-align: left;
    margin-bottom: 0;
  }

  .btn-group { justify-content: flex-start; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER, FOOTER
   */

  .new-product,
  .about,
  .explore-product,
  .top-seller,
  .footer-top { padding: 100px 0; }

  .section-header-wrapper,
  .about-title,
  .top-seller-title { margin-bottom: 60px; }



  /**
   * GO TO TOP
   */

  .go-top {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

}





/**
 * responsive for larger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 45px;
    --fs-9: 16px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }



  /**
   * HEADER
   */

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .header-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .search-field {
    background: var(--eerie-black-1);
    color: var(--gray-web);
    padding: 0 15px;
    border: 1px solid var(--onyx-1);
    border-radius: 4px;
  }



  /**
   * HERO
   */
   
  .hero .container {
    max-width: 950px;
    gap: 20px;
  }

  .hero-title,
  .hero-text { margin-bottom: 30px; }

  .hero-text { --fs-7: 18px; }

  .btn-group { gap: 20px; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
   */

  .product-list,
  .about-list,
  .top-seller-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-brand {
    max-width: 280px;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-top .logo,
  .footer-brand-text { margin-inline: 0; }

  .social-list { justify-content: flex-start; }

  .footer-link-box { gap: 60px; }

  .footer-item-title {
    --fs-2: 25px;
    margin-bottom: 30px;
  }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 55px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1150px; }



  /**
   * HEADER
   */

  .header-right,
  .header-nav-wrapper { flex-grow: 1; }

  .navbar-toggle-btn { display: none; }

  .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: scale(1);
    position: static;
    background: none;
    width: 100%;
    padding: 0;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-link { position: relative; }

  .navbar-link:is(:hover, :focus) {
    background: none;
    color: var(--red-crayola);
  }

  .navbar-link::after {
    --scaleY: scaleY(0);

    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) var(--scaleY);
    transform-origin: bottom;
    width: 2px;
    height: 10px;
    background: linear-gradient(to top, var(--red-crayola), transparent);
    transition: var(--transition);
  }

  .navbar-link:hover::after,
  .navbar-link:focus::after { --scaleY: scaleY(1); }



  /**
   * HERO
   */

  .hero .container {
    max-width: 1150px;
    gap: 50px;
  }

  .hero-title,
  .hero-text { margin-bottom: 35px; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
   */

  .product-list,
  .about-list,
  .top-seller-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * ABOUT
   */

  .about-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }



  /**
   * FOOTER
   */

  .footer-list { min-width: 180px; }

}